# Download Weather Data from MeteoSuisse

## Download Data from MeteoSwiss

In [40]:
import pandas as pd

data = pd.read_csv('http://data.geo.admin.ch/ch.meteoschweiz.swissmetnet/VQHA69.csv',
                   sep = '|',
                   header = 1)

data.head()

,stn,time,tre200s0,sre000z0,rre150z0,dkl010z0,fu3010z0,pp0qnhs0,fu3010z1,ure200s0,prestas0,pp0qffs0
0,TAE,201704032120,10.7,0,0.0,118,1.1,1022.8,4.3,85,959.2,1022.9
1,COM,201704032120,12.8,0,0.0,272,5.0,1019.5,10.1,51,951.8,1018.9
2,ABO,201704032120,5.9,0,0.0,277,4.7,1023.7,9.0,87,872.7,-
3,AIG,201704032120,13.1,0,0.0,190,2.5,1021.7,4.3,63,976.3,1021.5
4,ALT,201704032120,11.2,0,0.0,156,4.3,1022.9,8.3,89,970.8,1023.0

## Select Data only for WÃ¤denswil (near Thalwil)

In [41]:
data = data.loc[data.stn == 'WAE',:]

## Post Data to DataBase

In [42]:
import pymysql.cursors

connection = pymysql.connect(host = "mikmak.cc", user="sensor", passwd="Gaffe2017", db="weatherDW")
#sql = ('SELECT MsgID, msgv1, TmStp FROM sysLog WHERE msgID = "109" AND sysID = "79cf6c22-dcc6-11e5-8e77-00113217113f"')

query = ("CALL `writeWeatherLog`("+ "'" + "79cf6c22-dcc6-11e5-8e77-00113217113f" + "'"  + ","+ "'" 
         + str(data.tre200s0.values[0]) + "'" + ","+ "'" 
         + str(data.fu3010z0.values[0]) + "'" + ","+ "'"  
         + str(data.rre150z0.values[0]) + "'"+ ","+ "'" 
         + str(data.prestas0.values[0]) + "'" + ","+ "'" 
         + str(data.ure200s0.values[0]) + "'" + ","+ "'" 
         + str(data.stn.values[0]) + "'" +",'" 
         + str(data.stn.values[0]) + "'" +",'" 
         + str(data.sre000z0.values[0]) +  "'" + ")")

with connection.cursor() as cursor:
    cursor.execute(query)
connection.commit()
e_Log = cursor.fetchall()
connection.close()
e_Log

print("OK")

()

Stored Procedure executed on DataBase:


``` sql
BEGIN

DECLARE logID varchar(36);
SELECT UUID() INTO logID;
INSERT INTO log
	(
     sysID	,
     logID	,
     msgID	,
     msgv1
    )
VALUES 
	(
     sysID		,
     logID		,
     '801'	,
     temperature
    ) ;  
INSERT INTO log	(sysID	, logID	,     msgID	,     msgv1    )
VALUES 	(
     sysID		,     logID		,     '802'	,     pressure
    ) ;
INSERT INTO log	(sysID	, logID	,     msgID	,     msgv1    )
VALUES 	(
     sysID		,     logID		,     '820'	,     humidity
    ) ;
INSERT INTO log	(sysID	, logID	,     msgID	,     msgv1    )
VALUES 	(
     sysID		,     logID		,     '841'	,     wind
    ) ;
INSERT INTO log	(sysID	, logID	,     msgID	,     msgv1    )
VALUES 	(
     sysID		,     logID		,     '851'	,     rain
    ) ;
INSERT INTO log	(sysID	, logID	,     msgID	,     msgv1    )
VALUES 	(
     sysID		,     logID		,     '101'	,     lon
    ) ;
INSERT INTO log	(sysID	, logID	,     msgID	,     msgv1    )
VALUES 	(
     sysID		,     logID		,     '102'	,     lat
    ) ;
INSERT INTO log	(sysID	, logID	,     msgID	,     msgv1    )
VALUES 	(
     sysID		,     logID		,     '852'	,     sunshine
    ) ;
END
```